@model IEnumerable<UserAccountResponse>


@{
    ViewData["Title"] = "Send To Me Page";
}

<div class="text-left">
    <h1 class="display-4">ჩემი დანარჩენი ანგარიშები</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ანგარიშის ნომერი
            </th>
            <th>
                ვალუტა
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Iban)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Currency)
                </th>
                <th>
                    @Html.ActionLink("ანგარიშის არჩევა","SendToMe",new {Id=item.Id})
                </th>
            </tr>
        }
    </tbody>
</table>
