@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var user =await UserManager.FindByNameAsync(User.Identity.Name);

        if(await UserManager.IsInRoleAsync(user,"Operator")){
            <li class="nav-item">
                <form asp-controller="Operator" asp-action="Operator">
                    <button type="submit" class="nav-link btn btn-link text-dark">ჩემი გვერდი</button>
                </form>
            </li>
        }
        else{           

            @Html.ActionLink("ჩემი გვერდი","Index","User")
        }
        
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-dark">გამოსვლა</button>
            </form>
        </li>
    }
    else
    {       
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">სისტემაში შესვლა</a>
        </li>
    }
</ul>
