@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">რეპორტები</h1>
    @Html.ActionLink("მომხმარებლების სტატისტიკა","Index","UserStatistic");
    @Html.ActionLink("ტრანზაქციების სტატისტიკა","Index","TransactionStatistic");

</div>
