@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">მოგესალმებით </h1>
    <p>კრედო ბანკომათში </p>
    @Html.ActionLink("ბარათის შემოწმება","CreditCardLogin","Account");
</div>
