@using BankSystem.Domain.Models.Enum
@model UserAccountRequest

@{
    ViewData["Title"] = "UserAccount";
}

<h1>ანგარიშის დამატება</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUserAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="visually-hidden"></label>
                <input asp-for="UserId" class="visually-hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Iban" class="control-label">ანგარიშის ნომერი</label>
                <input asp-for="Iban" class="form-control" />
                <span asp-validation-for="Iban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">ბალანსი</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.Currency,
                new SelectList(Enum.GetValues(typeof(Currency))),
                "აირჩიე ვალუტა")
            </div>           

            <div class="form-group">
                <input type="submit" value="ანგარიშის შექმნა" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Operator" asp-action="operator">უკან</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }