@model CredoReport.Models.TransactionStastistic.TransactionQuantity

@{
    ViewData["Title"] = "QuantityTransaction";
}



<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            ტრანზაქციების რაოდენობა
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
   
    <a asp-action="Index">უკან</a>
</div>
