@model IEnumerable<UserAccountRequest>

@{
    ViewData["Title"] = "UserAccount Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                ანგარიშის ნომერი
            </th>
            <th>
                არსებული თანხა
            </th>
            <th>
                ვალუტა
            </th>         


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Iban)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                              
                    
            </tr>
        }
    </tbody>
</table>
