
<div class="text-left">
    <h1 class="display-4">მომხმარებლების სტატისტიკა</h1>
</div>

<ul>
    <li class="nav-item">
        @Html.ActionLink("მიმდინარე წელს დარეგისტრირებული მომხმარებლების რაოდენობა","GetUserQuantity",new {Id=180})
    </li>

    <li class="nav-item">
        @Html.ActionLink("ბოლო ერთი წლის განმავლობაში დარეგისტრირებული მომხმარებლების რაოდენობა","GetUserQuantity",new {Id=365})

    </li>

    <li class="nav-item">
        @Html.ActionLink("ბოლო 30 დღეში დარეგისტრირებული მომხმარებლების რაოდენობა","GetUserQuantity",new {Id=30})
    </li>

   
</ul>