@model CredoATM.Models.Balance

@{
    ViewData["Title"] = "CheckBalance";
}

<h1>ბალანსის შემოწმება</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">უკან</a>
</div>
