@{
    ViewData["Title"] = "Card Page";
}

<div class="text-left">
    <h1 class="display-4">მოგესალმებით </h1>
</div>

<ul>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Card" asp-action="CheckBalance">ბალანსი</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Card" asp-action="Withdraw">თანხის ამოღება</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Card" asp-action="ChangePin">პინის შეცვლა</a>
    </li>

   

</ul>