@model IEnumerable<UserAccountRequest>

@{
    ViewData["Title"] = "UserAccount Page";
}

<h1>აირჩიე შენი ანგარიში</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ანგარიშის ნომერი
            </th>
            <th>
                ვალუტა
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Iban)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.ActionLink("აირჩიე ანგარიში","SendToOther",new{Id=item.Id})
                </td>
            </tr>
        }
    </tbody>
</table>
